---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Expertise from "../components/Expertise.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Porfolio de Adrián Pisabarro - Desarrollador y Programador Web">
  <main w-full max-w-4xl mx-auto px-4 py-6>
    <Header />
    <Expertise />
  </main>
  <Footer />
</Layout>
