---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main w-full max-w-4xl mx-auto px-4 py-6>
    <Card />
  </main>
</Layout>
