<section class="sm:mt-20 mt-10">
  <h2 class="flex items-center text-3xl font-semibold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-user-check pr-1"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
        d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"
      ></path></svg
    >
    Sobre mí
  </h2>
  <div class="flex flex-col-reverse sm:flex-row">
    <div class="basis-3/5">
      <p class="text-lg mt-5">
        Hola, soy <b class="text-custom-blue">Adrián</b>, un apasionado de la
        tecnología y el desarrollo web. Me encanta aprender cosas nuevas y
        compartir mis conocimientos con los demás.
      </p>
      <p class="text-lg mt-5">
        Actualmente trabajo como <b class="text-custom-blue"
          >Full-Stack Developer</b
        > en <b class="text-custom-blue">Teknei</b>, una empresa de consultoría
        tecnológica. Me encargo de desarrollar aplicaciones web y móviles para
        grandes empresas y el sector público.
      </p>
      <p class="text-lg mt-5">
        Si quieres saber más sobre mí, no dudes en contactar conmigo a través de
        mis redes sociales.
      </p>
    </div>
    <div class="sm:m-3 sm:basis-2/5 flex justify-center">
      <img
        src="/assets/images/yo.webp"
        alt="Foto de perfil"
        class="sm:w-100 mt-5 max-w-96 h-auto rotate-2 dark:border-gray-300 border-custom-blue-dark border-4 m-4 rounded-xl"
      />
    </div>
  </div>
</section>
