<section class="sm:mt-24 mt-10">
  <h2 class="flex items-center text-3xl font-semibold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase pr-2"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path
        d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"></path>
    </svg>
    Experiencia laboral
  </h2>
  <div
    class="border-l-2 p-4 ml-4 mt-4 dark:border-slate-400 border-gray-800 border-opacity-50"
  >
    <article>
      <div
        class="w-4 h-4 dark:bg-custom-yellow-chrome bg-custom-blue-dark rounded-full ml-[-25px] mt-2.5 absolute"
      >
      </div>
      <div class="ps-4">
        <h3
          class="text-2xl font-semibold dark:text-custom-yellow-chrome text-custom-blue-dark"
        >
          Arquitecto de Soluciones de Software en Teknei
        </h3>
        <p class="text-custom-blue text-sm">Octubre 2023 - Actualidad</p>
        <p class="mt-2">
          Renovación de la arquitectura de soluciones de gestión, versionado y
          despliegue que el Gobierno Vasco utiliza a soluciones novedosas y
          eficientes para los requisitos de proyectos públicos. Impacto a más de
          2.000 proyectos que tienen vida desde el 2.004.
        </p>
        <p class="mt-2">
          Implantación de soluciones de CI/CD para los equipos de desarrollo de
          la empresa.
        </p>
      </div>
    </article>
    <article class="mt-5">
      <div
        class="w-4 h-4 dark:bg-custom-yellow-chrome bg-custom-blue-dark rounded-full ml-[-25px] mt-2.5 absolute"
      >
      </div>
      <div class="ps-4">
        <h3
          class="text-2xl font-semibold dark:text-custom-yellow-chrome text-custom-blue-dark"
        >
          Desarrollador web en Teknei
        </h3>
        <p class="text-custom-blue text-sm">Febrero 2022 - Actualidad</p>
        <p class="mt-2">
          Programador de aplicaciones web para proyectos de departamentos de
          innovación y cultura del Gobierno Vasco que impactan en miles de
          ciudadanos que las utilizan a diario. Fomentar innovación, clean code,
          gestión agile de equipos y mejora continua.
        </p>
        <p class="mt-2">
          Analizar proyectos técnicamente, resolución de inicidencias y reunión
          con clientes. Formar y subir de nivel a los equipos de desarrollo.
        </p>
      </div>
    </article>
    <article class="mt-5">
      <div
        class="w-4 h-4 dark:bg-custom-yellow-chrome bg-custom-blue-dark rounded-full ml-[-25px] mt-2.5 absolute"
      >
      </div>
      <div class="ps-4">
        <h3
          class="text-2xl font-semibold dark:text-custom-yellow-chrome text-custom-blue-dark"
        >
          Desarrollador web en Ibaiscanbit
        </h3>
        <p class="text-custom-blue text-sm">Febrero 2021 - Febrero 2022</p>
        <p class="mt-2">
          Realizar mantenimientos y desarrollos especificos de DSpace, OJS y la
          gestión de un complejo deportivo. Algunos clientes de Ibaiscanbit son:
          Gobiernos autonómicos, Banco de España, universidades y otras
          empresas/instituciones privadas y públicas.
        </p>
      </div>
    </article>
    <article class="mt-5">
      <div
        class="w-4 h-4 dark:bg-custom-yellow-chrome bg-custom-blue-dark rounded-full ml-[-25px] mt-2.5 absolute"
      >
      </div>
      <div class="ps-4">
        <h3
          class="text-2xl font-semibold dark:text-custom-yellow-chrome text-custom-blue-dark"
        >
          Desarrollador web en ICCE
        </h3>
        <p class="text-custom-blue text-sm">Febrero 2021 - Febrero 2022</p>
        <p class="mt-2">
          Realizar labores de desarrollo y mantenimiento web dentro de un
          proyecto de las Escuelas Pías. Páginas basadas en Wordpress junto con
          HTML, CSS, PHP y JQuery.
        </p>
      </div>
    </article>
  </div>

  <style>
    .custom-bullets li {
      list-style: none;
      position: relative;
      padding-left: 1rem;
    }
    .custom-bullets li::before {
      content: "-";
      position: absolute;
      left: 0;
      top: 0;
    }
  </style>
</section>
